.themeSettingsWrapper {
  width: 500px;
  margin: 20px auto;
  padding-bottom: 20px;

  text-align: center;

  background: linear-gradient(-45deg, #fee864, #f5965e);
  border: black 2px solid;
}


.themSelector {
  font-size: 20px;
}


.themSelector input {
  margin: 0;

  vertical-align: middle;
}

.themeSettingsWrapper {

}