.characterItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  min-height: 50px;
  margin: 10px;
    padding: 5px;


  font-size: 20px;

  background-color: white;
  border-radius: 10px;
}

.characterItem span {
    width: 250px;
    word-wrap: break-word;
}
