.wrapper {
  width: 500px;
  margin: 20px auto;


  border: black 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.original {
  background: linear-gradient(-45deg, #fee864, #f5965e);
}

.dark {
  background: linear-gradient(-45deg, #000000, #999999);
  color: white;
}

.light {
  background: linear-gradient(-45deg, #ffffff, #999999);
}

.red {
  background: linear-gradient(-45deg, #ffcece, #ff0000);
  color: #0000ff;
  border: #0000ff 2px solid;
}

.green {
  background: linear-gradient(-45deg, #7bce7b, #007600);
  border: #ffd500 2px solid;
  color: #ffd500;
}

.success {
  margin: 20px auto;
  font-size: 20px;
}

.success input{
  margin: auto 10px;

  vertical-align: middle;
}

.requestMessage {
  margin: 30px auto;
  background: white;
  height: 100px;
  width: 300px;
  border: black 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;

}

.requestMessage p{
  color: #000000;
  overflow: hidden;
  border-right: .17em solid #e29508;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .12em;
  animation:
          typing 2s steps(30, end),
          blink-caret .7s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: orange
  }
}