td {
    border: black 1px solid;
    text-align: center;
}
.taskTitle {
    max-width: 120px;
    word-wrap: break-word
}

.todoListTask {
    font-size: 20px;
}

.isDone {
    opacity: 0.5;
}

.deleteTask {
    font-size: 20px;

    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background-color: red;
}

