.homePage {
  width: 100%;
  position: absolute;
  z-index: -9;
  height: 100vh;
  background: #035b97 url("../../assets/image/sylvain-mauroux-_Lz4b6ihgEg-unsplash.jpg") top no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
