.nameInput {
  margin: 10px;
  padding: 5px;

  font-size: 20px;

  border-radius: 10px;
}

.error {
  margin: 10px;
  padding: 5px;

  font-size: 20px;

  background-color: #ff645d;
  border: 2px solid red;
  border-radius: 10px;
}
